body{
    background-color: rgb(84, 108, 121);
    font-family: Arial, sans-serif;
    

}
.business-card{
    background-color:rgb(207, 207, 244);
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 10px;
    border-style:groove;
    border-color: rgb(134, 255, 243);

}
.profile-image{
    max-width: 100%;
}
p{
    margin: 5px ;
    
}
.portfolio-link{
    text-decoration: none;
    color: blue;
    
}

.link{
    text-decoration: none;
    color: blue;
    }
    a {
    text-decoration: none;
}

@media (max-width: 400px) {
    .business-card {
       
        width: 90%; 
        margin-top: 30px; 
    }
}
